<!-- PART 5 BIS - SUB MENU AND RELATED NUMBERS -->

<div id="A5b" th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">

    <div id="wrapper-A5b">

        <div id="wrapper-A5b-part-left">
            <div id="A5b-left" class="wow flipInX" data-wow-offset="10">
                <div id="left-A5b-text-post">{{all_article_count}}</div>
                <div id="left-A5b-line-post"></div>
                <div id="left-A5b-line2-post"></div>
                <div id="left-A5b-text-post-1"><strong>文章量</strong></div>
            </div>
        </div>

        <div id="wrapper-A5b-part-right">
            <div id="A5b-right" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.4s">
                <div id="right-A5b-text-post">{{all_view_count}}</div>
                <div id="right-A5b-line-post"></div>
                <div id="right-A5b-line2-post"></div>
                <div id="right-A5b-text-post-1"><strong>浏览量</strong></div>
            </div>
        </div>

        <div class="A5b-calage"></div>
    </div>

</div>
